page-home {
    #home{
        //background: color($colors, energy);
        h1{
            font-size: 52px;
            margin-top:50px
        }
        .marginTop{
            margin-top:20px;
        }
        .navbarLogo{
            height: 25px;
            width: 25px
        }
}
}
