page-welcome {
    #welcome{
        background: color($colors, energy);
        h2{
            font-size: 22px;
            margin-top:50px
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 300px;
            width:  350px;
        }
    }
}
